header button {
  color: #ffffff;
  background-color: #e50914;
  width: 77px;
  height: 32px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 600;
  border: none;
}
.form {
  font-family: "Helvetica Neue", sans-serif;
  width: 137px;
  border-radius: 3px;
  height: 32px;
  color: #ffffff;
  background-color: black;
  border: 1px solid #8f8282;
  font-size: 16px;
  font-weight: 600;
}
header img {
  width: 148px;
  margin-left: 206px;
  height: 40px;
  margin-top: 23px;
}
header {
  position: relative;
  height: 700px;
  width: 100%;
  background: url(https://assets.nflxext.com/ffe/siteui/vlv3/fc164b4b-f085-44ee-bb7f-ec7df8539eff/ca7887af-7ea1-4922-9a3b-65c7ca2b6eab/LT-en-20230814-popsignuptwoweeks-perspective_alpha_website_large.jpg)
    no-repeat center;
}
.sel {
  display: flex;
  gap: 24px;
  padding-right: 206px;
  margin-top: 27px;
}
.sel1 img {
  width: 50px;
  background-color: #e50914;
  height: 100px;
}

.form option {
  background-color: #ffffff;
  text-align: center;
}
.head {
  display: flex;
  height: 86px;
  justify-content: space-between;
}
.head2 h1 {
  color: #ffffff;
  font-size: 43px;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 900;
  height: 62px;
}
.line {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
}
.line2 {
  color: #ffffff;
  font-size: 20px;
}
.head2 {
  text-align: center;
  padding-top: 200px;
}

#email {
  border: 1px solid #807979;
  width: 377px;
  height: 56px;
  border-radius: 5px;
  background-color: #110f0fab;
}
.start {
  width: 201px;
  height: 56px;
  color: #ffffff;
  font-size: 25px;
  font-weight: 600;
  margin-left: 8px;
}

#email::placeholder {
  color: #bbb5b5f2;
  font-size: 16px;
  font-family: "Helvetica Neue", sans-serif;
  padding-left: 12px;
  font-weight: 500;
}
.in {
  display: flex;
  justify-content: center;
}
.hidden {
  position: absolute;
  background-color: #0000009d;
  width: 100%;
  height: 700px;
}
.glb1 {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 1257px;
  top: 11px;
}
